*{
  font-family: 'Kdam Thmor Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ED213A;  
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  
  background: linear-gradient(to right, #93291E, #ED213A); 
}

